{% load staticfiles %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>         
	<title>ezClinic | for Dental clinics - Online App to manage your patients</title>

	<meta name="description" content="ezClinic is an online cloud based application for dental clinic. Manage your patients, appointments and your calendar all in one secure place.it provide degital dental chart - diagnostic code - personal details - and more ">
	
	<meta name="keywords" content="dental chart online,dentist software,dental clinic software,ezclinic, dental chart, dental clinic cloud solution, dental clinic software management, dental clinic cloud CRM">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--<title>{% block title %}ezClinic{% endblock %}</title>-->
  <!-- Le styles -->
     <link href="{% static 'css/patients.css' %}" rel="stylesheet">
     <!-- <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet"> -->
      
    <!-- <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet"> -->
    <!-- Include Font Awesome Stylesheet in Header -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" rel="stylesheet">
     <link href ="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/css/bootstrap-select.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-MfvZlkHCEqatNoGiOXveE8FIwMzZg4W85qfrfIFBfYc= sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous" rel="stylesheet">
    <!-- <link href="{% static 'css/jquery-ui.min.css' %}" rel="stylesheet"> -->
    <!-- <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet"> -->
     <link href="{% static 'fancybox/source/jquery.fancybox.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap-datetimepicker.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap-datepicker.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap-timepicker.min.css' %}" rel="stylesheet">
	<!-- <script src="{% static 'js/jquery.confirm.js' %}" ></script>   -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js" type="text/javascript"></script> 
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous" type="text/javascript"></script> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/js/bootstrap-select.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js" type="text/javascript"></script>
    <script type="text/javascript" src='{% static "js1/bootstrap-datepicker.min.js" %}'></script>
    <script type="text/javascript" src='{% static "js1/bootstrap-timepicker.min.js" %}'></script>

  <link rel="stylesheet" id="dental_chart_css" href="{% static 'dental_chart/dental_chart.css' %}">
  <script src="{% static 'dental_chart/polyfill.min.js' %}"></script>
  <script src="{% static 'dental_chart/dental_chart.js' %}"></script>

  <style type="text/css">
    html {
      overflow-y: scroll;
    }
    main { min-height: 300px; }
    footer .container a { margin-right: 10px; }
    .nav-tabs{
      margin-bottom: 15px;
    }
    /*for datepicker*/
    .datepicker.datepicker-dropdown {
        margin-top: 9vh;        
    }
    @media (max-width: 767px) {
      .datepicker.datepicker-dropdown {
        margin-top: 5vh;        
    }
    }
  </style>
</head>
<body>
<nav class="navbar navbar-fixed-top" >
    <div class="container-fluid">

        <!-- Header -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href=""></a>
        </div>
        <div class="collapse navbar-collapse" id="topNavBar">
            <ul class="nav navbar-nav">
                <li><a href="{% url 'dashboard' %}"><span class="glyphicon glyphicon-dashboard" aria-hidden="true"></span>&nbsp;Dashboard</a></li>
                <li><a href="{% url 'home' %}"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>&nbsp;Calendar</a></li>
                <li class="{% block dashboard %}{% endblock %}"><a href="{% url 'patients' %}"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp;Patients</a></li>
            </ul>
            <form class="navbar-form navbar-left" role="search" method="get" action="{% url 'search' %}">
                <div class="form-group">
                    <input type="text" placeholder="First name" class="form-control" name="q" value="{{ request.GET.q }}">
                    <input type="text" placeholder="Last name" class="form-control" name="q1" value="{{ request.GET.q1 }}">
                </div>
                <button type="submit" class="btn btn-default">Search</button>
            </form>
            <ul class="nav navbar-nav navbar-right">

              <li>
                <div class='usergreet'>
                  {% trans "Logged in as" %} <strong>{{ user }}</strong> [
                   <a href="{% url 'logout_user' %}">{% trans "logout" %}</a>
                  ]
                  {% if user.is_staff %}
                    [ <a href="{% url 'admin:index' %}">{% trans "Admin" %}</a> ]
                  {% endif %}
                </div>
              </li>
          </ul>
        </div>

    </div>
</nav>

  <main>
    <div class="container" style="margin-top:4%">
      {% block content %}
      {% endblock %}
    </div>
  </main>
  <footer>
    <!-- Social Footer, Colour Matching Icons -->

    <!-- // -->
    <div class="container">

        <hr>
            <div class="text-center center-block">
    		<p class="txt-railway">- contact us -</p>
                
                <br />
                    <a href="https://www.facebook.com/ezcloudservices/" target="_blank"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
    	            <a href="https://www.linkedin.com/company/ezcloud?trk=biz-companies-cym" target="_blank"><i id="social-tw" class="fa fa-linkedin-square fa-3x social"></i></a>
    	            <a href="https://plus.google.com/u/2/112962426364983904619" target="_blank"><i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i></a>
    	            <a href="mailto:aqrabawi@ezcloudservices.com"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
    </div>
        <hr>
    </div>

  </footer>

  {% block javascript %}
    <script type="text/javascript">
        $(document).ready(function(){
            var url = window.location.href;
            if(url.indexOf('edit') !== -1 || url.indexOf('add') !== -1 || url.indexOf('view')!== -1) {  
                var date = new Date();
                date.setDate(date.getDate());
                $('#datepicker').datepicker({
                  startDate: date
                })
                if (url.indexOf('edit') !== -1 || url.indexOf('view') !== -1 ){
                   $timepicker = $("#id_time").timepicker({
                      minuteStep: 10,
                      defaultTime: false
                    });
                } else{
                    $timepicker = $("#id_time").timepicker({
                      minuteStep: 10,
                    });
                }

                var input_date = $("#id_date").val();
                var input_time = $("#id_time").val();
                if ($("#id_date").val() === "") {
                  $("#appointment-button").html("Set date");
                } else {
                  $("#appointment-button").html(input_date + " " + input_time);
                }              
                
               
                 $timepicker.on('changeTime.timepicker', function() {
                    var input_date = $("#id_date").val();
                    var input_time = $("#id_time").val();
                    var input_date = input_date.split('-').map(function(item) {
                        return parseInt(item, 10);
                    });
                    var input_time_ = input_time.split(' ')[0].split(':').map(function(item) {
                        return parseInt(item, 10);
                    }); 
                    if (input_time.split(' ')[1] == 'PM'){
                        input_time_[0] = input_time_[0] + 12;
                    }
                    var input_date_time = new Date(input_date[0], input_date[1]-1, input_date[2], input_time_[0], input_time_[1]);
                    
                    if(input_date_time <= date){
                        console.log('hello')
                        $("#id_time").val(formatAMPM(date));
                    }
                });
            }
            function formatAMPM(date) {
              var hours = date.getHours();
              var minutes = date.getMinutes();
              var ampm = hours >= 12 ? 'PM' : 'AM';
              hours = hours % 12;
              hours = hours ? hours : 12; // the hour '0' should be '12'
              minutes = minutes < 10 ? '0'+minutes : minutes;
              var strTime = hours + ':' + minutes + ' ' + ampm;
              return strTime;
            }

            if(window.location.href.indexOf('tab=tab4') != -1){
                $('html,body').animate({
                    scrollTop: 60
                }, 500)
            }
            $('a[href="#tab4"]').click(function(){
                  $('html,body').animate({
                    scrollTop: 60
                  }, 500)
            });
        });
        </script>
      {% endblock javascript %}

        
      
    </body>

    </html>
