{% extends 'base.html' %}
{% load widget_tweaks %}
{% load i18n %}

{% block content %}
<style>
  .page-header {
    padding: 1em 0 1em 0;
    position: relative;

  }
  .page-header--h {
    line-height: 30px;

  }
  @media screen and (min-width:768px) {
    .mobile {
      display: none;
    }
  }
  @media screen and (max-width:768px) {
    .desktop {
      display: none;
    }
    .mobile {
      margin-bottom: 35px;
      margin-top: 30px;
    }
  }
  @media screen and (min-width:769px) and (max-width:864px) {
    .desktop {
      margin-top: 50px;
    }

  }
  @media screen and (max-width:470px) {
    .btn {
      width: 100%;
      margin-bottom: 15px;
    }

  }
  @media screen and (max-width:400px) {
    .mobile {
          font-size: 12pt;
    }
  }

 </style>
    <div class="row page-header">
      <div class="col-md-6">
        <h2 class="page-header--h desktop">
        {% if today %}
        Today's Appointments
        {% else %}
        Appointments for {{ date|date:"F j"}}
        {% endif %}
      </h2>
      </div>
      <div class="col-md-6">
        <div class="pull-right">
        <button class="btn btn-info patients-datepicker" >
          <span class="glyphicon glyphicon-th"></span> {% trans "Check for other day" %}
        </button>
        <a href="{% url 'add_person' %}" class="btn btn-info">
          <span class="glyphicon glyphicon-plus"></span> {% trans  "Add Patient" %}
        </a>
        <button class="btn btn-info add-event" data-toggle="modal" data-target="#add-event-modal">
          <span class="glyphicon glyphicon-edit"></span> {% trans "Add reminder" %}
        </button>
      </div>
      </div>
    </div>
    <h2 class="page-header--h mobile">
    {% if today %}
    Today's Appointments
    {% else %}
    Appointments for {{ date|date:"F j"}}
    {% endif %}
  </h2>
    <form id="patients-calendar-form" action="">
      <input id="patients-calendar-form-appointment" name="appointment" type="hidden">
    </form>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Lastname</th>
                <th class="col-md-3">Treatment done</th>
                <th class="col-md-3">Treatment plan</th>
                <th class="col-md-2 text-center">Appointment time</th>
                <th>Cancel</th>
                <th>View</th>
            </tr>
        </thead>
        <tbody>
            {% for person in persons %}
            <tr id="appointment-{{ person.id }}">
                <td>{{ person.name }}</td>
                <td>{{ person.last_name }}</td>
                <td>{{ person.treatment_done|linebreaks }}</td>
                <td>{{ person.treatment_plan|linebreaks }}</td>
                <td class="text-center">{{ person.time|time:"f A" }}</td>
                <td>
                    <button data-appointment-id="{{ person.id }}" type="button" class="cancel-button btn btn-xs btn-link">
                        <span  class="glyphicon glyphicon-minus"></span>
                    </button>
                </td>
                <td><a  href="{% url 'view' person.id %}?next=calendar"><i  class="glyphicon glyphicon-list-alt"></i></a></td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="6" class="text-center">No result</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>


  {% if events %}
  <h2> {% if today %}
        Today's Reminders
        {% else %}
        Reminders of {{ date|date:"F d"}}
        {% endif %}
    <button id="hide-events" class="btn btn-info pull-right" type="button">{% trans "Hide Reminders" %}</button>
  </h2>

  <div id="events-table" class="hidden">
    <table class="table">
      <tbody>
        {% for event in events %}
        <tr><td>{{ event.text }}</td></tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% endif %}

    {% if persons.has_other_pages %}
  <ul class="pagination">
    {% if persons.has_previous %}
      <li><a href="?page={{ persons.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in persons.paginator.page_range %}
      {% if persons.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if persons.has_next %}
      <li><a href="?page={{ persons.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}

<div id="add-event-modal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">{% trans "Add reminder" %}</h4>
      </div>
      <form method="POST" id="add-event-form" class="form-horizontal">
        {% csrf_token %}
        <div class="modal-body">
          <div class="form-group">
            <label class="col-sm-2 control-label" for="{{ event_form.date.id_for_label }}">Date</label>
            <div class="col-sm-4">
              <div class="input-group date" id="datepicker" data-provide="datepicker" data-date-autoclose="true" data-date-format="yyyy-mm-dd">
                {{ event_form.date|add_class:"form-control" }}
                <div class="input-group-addon">
                  <span class="glyphicon glyphicon-th"></span>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="{{ event_form.text.id_for_label }}">Reminder</label>
            <div class="col-sm-10">
              <textarea class="form-control" placeholder="Reminder" id="id_text" name="text" rows="10"></textarea>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Save changes</button>
        </div>
      </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script>
$(function () {


  $(".navbar-toggle").click(function () {

  $(".layer").css("display","block");
  $('.collapse').collapse("show");

  });
  $(".layer").click(function () {
  $(".layer").css("display","none");
  $('.collapse').collapse("hide");


  });

});

</script>

<script>
  var key = 'events-state-{{ date|date:"Y-m-d" }}';
  // Default is show
  var events_shown = !! JSON.parse(window.localStorage[key] || "true");

  $(".patients-datepicker")
    .datepicker({autoClose: true, todayBtn: true, todayHighlight: true})
    .on("changeDate", function(event) {
      $("#patients-calendar-form-appointment").val(event.format("yyyy-mm-dd"));
      $("#patients-calendar-form").submit();
    });

    var date = new Date();
    date.setDate(date.getDate());
    $('#datepicker').datepicker({
      startDate: date
    });

  if (!events_shown) {
    $("#events-table").hide();
    $("#hide-events").html("Show Reminders");
  }
  $("#events-table").removeClass("hidden");

  $("#hide-events").click(function() {
    events_shown = ! events_shown;
    window.localStorage[key] = events_shown;
    if (events_shown) {
      $("#events-table").show();
      $("#hide-events").html("Hide Reminders");
    } else {
      $("#events-table").hide();
      $("#hide-events").html("Show Reminders");
    }

  });
</script>
  <script>
    var hidden_persons = JSON.parse(localStorage["hidden_persons"] || "[]");
    for (var i = 0; i < hidden_persons.length; i++) {
      $("#appointment-" + hidden_persons[i]).hide();
    }

    $(".cancel-button").click(function () {
      var user_id = $(this).data("appointment-id");
      bootbox.confirm("Are you sure you want to cancel an appointment?", function(confirmed) {
        if (confirmed) {
          hidden_persons.push(user_id);
          localStorage["hidden_persons"] = JSON.stringify(hidden_persons);
          $("#appointment-" + user_id).hide();
        }
      });
    });

  </script>
{% endblock %}
