{% extends 'base.html' %}
{% load widget_tweaks %}
{% load staticfiles %}
{% load i18n %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<section>
  <h3>Patients count — {{ count }}</h3>
</section>
<div class="row">
<section class="col-sm-6">
  <div class="charts-dental-chart"></div>
</section>
<section class="col-sm-6">
  <div class="charts-ages"></div>
</section>
</div>
<section>
  <h3>Next appointments</h3>
  <div class="charts-appointments"></div>
  <p>Appointments next week: {{ appointment_next_week }}</p>
  <p>Appointments the week up after next: {{ appointment_next_week2 }}</p>
</section>
<section>
  <h3>Revenue</h3>
  <div class="charts-revenue"></div>
</section>
<script src="{% static "highcharts/highcharts.js" %}"></script>
<script>
  Highcharts.chart(document.querySelector(".charts-ages"), {{ ages|safe }});
  Highcharts.chart(document.querySelector(".charts-dental-chart"), {{ dental_charts|safe }});

  /*
  new Chartist.Pie(".charts-ages", {{ ages|safe }}, {ignoreEmptyValues: true} );
  new Chartist.Pie(".charts-dental-chart", {{ dental_charts|safe }}, {ignoreEmptyValues: true});
  new Chartist.Bar(".charts-appointments", {{ appointments|safe }});
  new Chartist.Line(".charts-revenue", {{ receipts|safe }});
  */
</script>
{% endblock %}
