{% load staticfiles %}
<div class="row">
    <div class="col-sm-6">
        <div class="dental-chart {{ allow_edit|yesno:"dental-chart__editable," }}">
            <object  type="image/svg+xml" class="dental-chart--image" data="{% if type == "Deciduous" %}{% static 'dental_chart/deciduous.svg' %}{% else %}{% static 'dental_chart/permanent.svg' %}{% endif %}"></object>
            <div class="dental-chart--menu list-group">
				<button type="button" class="dental-chart--menu-variant list-group-item" data-action="x"><span class="glyphicon glyphicon-remove-circle dental-chart--menu-variant__x" aria-hidden="true"></span> Extraction</button>
                <button type="button" class="dental-chart--menu-variant list-group-item" data-action="red"><span class="glyphicon glyphicon-ok-circle dental-chart--menu-variant__red" aria-hidden="true"></span> Missing</button>
                <button type="button" class="dental-chart--menu-variant list-group-item" data-action="yellow"><span class="glyphicon glyphicon-ok-circle dental-chart--menu-variant__yellow" aria-hidden="true"></span> Filling</button>
                <button type="button" class="dental-chart--menu-variant list-group-item" data-action="green"><span class="glyphicon glyphicon-ok-circle dental-chart--menu-variant__green" aria-hidden="true"></span> Rct</button>
                <button type="button" class="dental-chart--menu-variant list-group-item" data-action="clear"><span class="glyphicon glyphicon-unchecked" aria-hidden="true"></span> Clear</button>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <ul class="list-unstyled dental-chart--info">
			<li><span class="dental-chart--info-color dental-chart--info-color__x">×</span>Extraction</li>
            <li><span class="dental-chart--info-color dental-chart--info-color__red"></span>Missing</li>
            <li><span class="dental-chart--info-color dental-chart--info-color__yellow"></span>Filling</li>
            <li><span class="dental-chart--info-color dental-chart--info-color__green"></span>Rct</li>
        </ul>
    </div>
</div>
<script>
  {
    document.querySelector(".dental-chart--image").addEventListener("load", function() {initDentalChart('{{ init_state }}', {{ allow_edit|yesno:"true,false" }});}, false);
    // As we dealing with Bootrap jQuery buttons, let’s use jQuery
    $(".dental-chart-type").click(function(event) {
        if (event.target.querySelector("input").value === "Deciduous") {
            document.querySelector(".dental-chart--image").data = "{% static 'dental_chart/deciduous.svg' %}";
        } else {
            document.querySelector(".dental-chart--image").data = "{% static 'dental_chart/permanent.svg' %}";
        }
    });
  }
</script>
