{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block content %}

    <h2>Edit Patient</h2>

    <form enctype="multipart/form-data" method="post">
        {% csrf_token %}
        <div class="tabtable"> 
            <ul class="nav nav-tabs">
            {% if tab %}
              <li class="{% if tab == 'tab1' %}active{% endif %}"><a href="#tab1" data-toggle="tab">Personal Info</a></li>
              <li class="{% if tab == 'tab2' %}active{% endif %}"><a href="#tab2" data-toggle="tab">Medical Details</a></li>
              <li class="{% if tab == 'tab3' %}active{% endif %}"><a href="#tab3" data-toggle="tab">Files</a></li>
              <li class="{% if tab == 'tab4' %}active{% endif %}"><a href="#tab4" data-toggle="tab">Dental Chart</a></li>
            {% else %}
                <li class="active"><a href="#tab1" data-toggle="tab">Personal Info</a></li>
                <li class=""><a href="#tab2" data-toggle="tab">Medical Details</a></li>
                <li class=""><a href="#tab3" data-toggle="tab">Files</a></li>
                <li class=""><a href="#tab4" data-toggle="tab">Dental Chart</a></li>
            {% endif %}
            </ul>
            <div class="tab-content">
                {% if tab %}
                    <div class="tab-pane {% if tab == 'tab1' %}active{% endif %}" id="tab1">
                        <div class="row">
                            <div class="col-sm-2 form-group">
                                <label for="name" >{% trans "Name:" %}</label>
                                    {{ form.name|add_class:"form-control" }}
                            </div>
                            <div class="col-sm-2 form-group">
                                <label for="lname">{% trans "Lastname:" %}</label>
                                    {{ form.last_name|add_class:"form-control" }}
                            </div>
                            <div class="col-sm-2 form-group">
                               <label for="Sex">{% trans "Sex:" %}</label>
                               {{ form.sex|add_class:"form-control" }}
                            </div>
                            <div class="col-sm-2 form-group">
                               <label for="date">{% trans "Next Appoinment:" %}</label>
                              {{ form.date|attr:"data-provide:datepicker"|add_class:"form-control datepicker" }}
                            </div>
                        </div>
                        <div class="row">
                            <div  class="col-sm-2 form-group">
                                <label for="age">{% trans "Age:" %}</label>
                                    {{ form.age|add_class:"form-control" }}
                            </div>
                            <div class="col-sm-2 form-group">
                                <label for="martial">{% trans "Martial Status:" %}</label>
                               {{ form.martial_status|add_class:"form-control" }}
                            </div>
                            <div class="col-sm-2 form-group">
                                <label for="amount paid">{% trans "Money Paid:" %}</label>
                                   {{ form.amount_paid|add_class:"form-control" }}
                            </div>
                            <div class="col-sm-2 form-group">
                                   <label for="amount left">{% trans "Money Left:" %}</label>
                                   {{ form.amount_left|add_class:"form-control" }}
                            </div>
                            
                        </div>
                        <div class="row">
                            <div class="col-sm-4 form-group">
                               <label for="mobile">{% trans "Mobile Number:" %}</label>
                               {{ form.mobile|add_class:"form-control" }}
                            </div>
                            <div class="col-sm-4 form-group">
                                <label for="address">{% trans "Address:" %}</label>
                                    {{ form.address|add_class:"form-control" }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4 form-group">
                               <label for="mobile">{% trans "Dental chart type:" %}</label>
                               {{ form.dental_chart_type|add_class:"form-control" }}
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane {% if tab == 'tab2' %}active{% endif %}" id="tab2">
                        <div class="row">
                            <div class="col-sm-4 form-group">
                                <label for="chief_complain" >{% trans "Chief Complain:" %}</label>
                                    {{ form.chief_complain|add_class:"form-control" }}
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="diagcode">{% trans "Diagnostic Code:" %}</label>
                                <select id="diagcode" name="diagcode" class="selectpicker form-control" data-live-search="true" multiple>
                                    <optgroup label="Disorders of tooth development & eruption">
                                        <option value="Anodontia">Anodontia</option>
                                        <option value="Supernumerary teeth">Supernumerary teeth</option>
                                        <option value="Abnormalities of size and form">Abnormalities of size and form</option>
                                        <option value="Mottled teeth">Mottled teeth</option>
                                        <option value="Disturbances of tooth formation">Disturbances of tooth formation</option>
                                        <option value="Hereditary disturbances in tooth structure ">Hereditary disturbances in tooth structure </option>
                                        <option value="Disturbances in tooth eruption">Disturbances
                                    </optgroup>
                                    <optgroup label="Diseases of hard tissues of teeth">
                                        <option value="Dental caries, unspecified">Dental caries, unspecified</option>
                                        <option value="Dental caries limited to enamel">Dental caries limited to enamel</option>
                                        <option value="Dental caries extending into dentine">Dental caries extending into dentine</option>
                                        <option value="Excessive attrition (occlusal wear)">Excessive attrition (occlusal wear)</option>
                                        <option value="Excessive attrition, limited to ename">Excessive attrition, limited to ename</option>
                                        <option value="Excessive attrition, extending into dentine">Excessive attrition, extending into dentine</option>
                                        <option value="Abrasion, unspecified">Abrasion, unspecified</option>
                                        <option value="Abrasion, limited to ename">Abrasion, limited to ename</option>
                                        <option value="Abrasion, extending into dentine">Abrasion, extending into dentine</option>
                                        <option value="Erosion, unspecified">Erosion, unspecified</option>
                                        <option value="Erosion, limited to enamel">Erosion, limited to enamel</option>
                                        <option value="Erosion, extending into dentine">Erosion, extending into dentine</option>
                                        <option value="Pathological resorption">Pathological resorption</option>
                                        <option value="Pathological resorption, internal">Pathological resorption, internal</option> <option value="Pathological resorption, external">Pathological resorption, external</option>
										<option value="Dental examination and cleaning">Dental examination and cleaning</option>
                                    </optgroup>
									<optgroup label="Diseases of pulp and periapical tissues">
										<option value="Pulpitis">Pulpitis</option>
										<option value="Necrosis of the pulp">Necrosis of the pulp</option>
										<option value="Pulp degeneration">Pulp degeneration</option>
										<option value="Abnormal hard tissue formation in pulp">Abnormal hard tissue formation in pulp</option>
										<option value="Acute apical periodontitis of pulpal origin">Acute apical periodontitis of pulpal origin</option>
										<option value="Periapical abscess without sinus">Periapical abscess without sinus</option>
									</optgroup>
									<optgroup label="Gingival and periodontal diseases">
										<option value="Acute gingivitis, plaque induced">Acute gingivitis, plaque induced</option>
										<option value="Chronic gingivitis, plaque induced">Chronic gingivitis, plaque induced</option>
										<option value="Gingival recession, unspecified">Gingival recession, unspecified</option>
										<option value="Aggressive periodontitis, unspecified">Aggressive periodontitis, unspecified</option>
										<option value="Chronic periodontitis, unspecified">Chronic periodontitis, unspecified</option>
										<option value="Periodontosis">Periodontosis</option>
										<option value="Accretions on teeth">Accretions on teeth</option>
										<option value="Other specified periodontal diseases">Other specified periodontal diseases</option>
									</optgroup>
									<optgroup label="Dentofacial anomalies, incl. malocclusion">
										<option value="Maxillary hyperplasia">Maxillary hyperplasia</option>
										<option value="Mandibular hyperplasia">Mandibular hyperplasia</option>
										<option value="Maxillary hypoplasia">Maxillary hypoplasia</option>
										<option value="Mandibular hypoplasia">Mandibular hypoplasia</option>
										<option value="Orthodontic devices, fitting and adjustment">Orthodontic devices, fitting and adjustment</option>
										<option value="Orthodontics aftercare">Orthodontics aftercare</option>
									</optgroup>
									<optgroup label="Other diseases & conditions of the teeth">
										<option value="Acquired absence of teeth, unspecified">Acquired absence of teeth, unspecified</option>
										<option value="Loss of teeth due to trauma">Loss of teeth due to trauma</option>
										<option value="Loss of teeth due to periodontal disease">Loss of teeth due to periodontal disease</option>
										<option value="Loss of teeth due to caries">Loss of teeth due to caries</option>
										
									</optgroup>
									<optgroup label="Diseases of the jaws">
										<option value="Fissural cyst of jaw">Fissural cyst of jaw</option>
										<option value="Perforation of root canal space">Perforation of root canal space</option>
										<option value="Endodontic overfill">Endodontic overfill</option>
									</optgroup>
                                </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4 form-group">
                                <label for="treatment_plan" >{% trans "Treatment Plan:" %}</label>
                                    {{ form.treatment_plan|add_class:"form-control" }}
                            </div>
                            <div class="col-sm-4 form-group">
                                <label for="treatment_done">{% trans "Treatment Done:" %}</label>
                                    {{ form.treatment_done|add_class:"form-control" }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4 form-group">
                                <label for="note">{% trans "Medical History:" %}</label>
                                    {{ form.note|add_class:"form-control" }}
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane {% if tab == 'tab3' %}active{% endif %}" id="tab3">
                        <div class="row">
                            <div class="col-sm-4 form-group">
                                <label for="pic">{% trans "Upload Files:" %}</label>
                                    {{form.pictures}}
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane {% if tab == 'tab4' %}active{% endif %}"  id="tab4">
                        <div class="row">
                            <div class="btn-group" data-toggle="buttons">
                                {% for radio in form.dental_chart_type %}
                                <label for="{{ radio.id_for_label }}" class="dental-chart-type btn btn-primary{% if radio.value == radio.choice_value %} active{% endif %}" >
                                    {{ radio.tag }}
                                    {{ radio.choice_label }}
                                </label>
                                {% endfor %}
                            </div>
                        </div>
                        {{ form.dental_chart}}
                        {% include "core/dental_chart.html" with type=form.dental_chart_type allow_edit=True init_state=form.dental_chart.value|safe|default:"" %}
                    </div>
                {% else %}
                    <div class="tab-pane active" id="tab1">
                        <div class="row">
                            <div class="col-sm-2 form-group">
                                <label for="name" >{% trans "Name:" %}</label>
                                    {{ form.name|add_class:"form-control" }}
                            </div>
                            <div class="col-sm-2 form-group">
                                <label for="lname">{% trans "Lastname:" %}</label>
                                    {{ form.last_name|add_class:"form-control" }}
                            </div>
                            <div class="col-sm-2 form-group">
                               <label for="Sex">{% trans "Sex:" %}</label>
                               {{ form.sex|add_class:"form-control" }}
                            </div>
                            <div class="col-sm-2 form-group">
                               <label for="date">{% trans "Next Appoinment:" %}</label>
                              {{ form.date|attr:"data-provide:datepicker"|add_class:"form-control datepicker" }}
                            </div>
                        </div>
                        <div class="row">
                            <div  class="col-sm-2 form-group">
                                <label for="age">{% trans "Age:" %}</label>
                                    {{ form.age|add_class:"form-control" }}
                            </div>
                            <div class="col-sm-2 form-group">
                                <label for="martial">{% trans "Martial Status:" %}</label>
                               {{ form.martial_status|add_class:"form-control" }}
                            </div>
                            <div class="col-sm-2 form-group">
                                <label for="amount paid">{% trans "Money Paid:" %}</label>
                                   {{ form.amount_paid|add_class:"form-control" }}
                            </div>
                            <div class="col-sm-2 form-group">
                                   <label for="amount left">{% trans "Money Left:" %}</label>
                                   {{ form.amount_left|add_class:"form-control" }}
                            </div>
                            
                        </div>
                        <div class="row">
                            <div class="col-sm-4 form-group">
                               <label for="mobile">{% trans "Mobile Number:" %}</label>
                               {{ form.mobile|add_class:"form-control" }}
                            </div>
                            <div class="col-sm-4 form-group">
                                <label for="address">{% trans "Address:" %}</label>
                                    {{ form.address|add_class:"form-control" }}
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab2">
                        <div class="row">
                            <div class="col-sm-4 form-group">
                                <label for="chief_complain" >{% trans "Chief Complain:" %}</label>
                                    {{ form.chief_complain|add_class:"form-control" }}
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="diagcode">{% trans "Diagnostic Code:" %}</label>
                                    <select id="diagcode" name="diagcode" class="selectpicker form-control" data-live-search="true" multiple>
                                        <optgroup label="Disorders of tooth development & eruption">
                                            <option value="Anodontia">Anodontia</option>
                                            <option value="Supernumerary teeth">Supernumerary teeth</option>
                                            <option value="Abnormalities of size and form">Abnormalities of size and form</option>
                                            <option value="Mottled teeth">Mottled teeth</option>
                                            <option value="Disturbances of tooth formation">Disturbances of tooth formation</option>
                                            <option value="Hereditary disturbances in tooth structure ">Hereditary disturbances in tooth structure </option>
                                            <option value="Disturbances in tooth eruption">Disturbances in tooth eruption</option>
                                        </optgroup>
                                        <optgroup label="Diseases of hard tissues of teeth">
                                            <option value="Dental caries, unspecified">Dental caries, unspecified</option>
                                            <option value="Dental caries limited to enamel">Dental caries limited to enamel</option>
                                            <option value="Dental caries extending into dentine">Dental caries extending into dentine</option>
                                            <option value="Excessive attrition (occlusal wear)">Excessive attrition (occlusal wear)</option>
                                            <option value="Excessive attrition, limited to ename">Excessive attrition, limited to ename</option>
                                            <option value="Excessive attrition, extending into dentine">Excessive attrition, extending into dentine</option>
                                            <option value="Abrasion, unspecified">Abrasion, unspecified</option>
                                            <option value="Abrasion, limited to ename">Abrasion, limited to ename</option>
                                            <option value="Abrasion, extending into dentine">Abrasion, extending into dentine</option>
                                            <option value="Erosion, unspecified">Erosion, unspecified</option>
                                            <option value="Erosion, limited to enamel">Erosion, limited to enamel</option>
                                            <option value="Erosion, extending into dentine">Erosion, extending into dentine</option>
                                            <option value="Pathological resorption">Pathological resorption</option>
                                            <option value="Pathological resorption, internal">Pathological resorption, internal</option>
                                            <option value="Pathological resorption, external">Pathological resorption, external</option>
                                        </optgroup>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4 form-group">
                                <label for="treatment_plan" >{% trans "Treatment Plan:" %}</label>
                                    {{ form.treatment_plan|add_class:"form-control" }}
                            </div>
                            <div class="col-sm-4 form-group">
                                <label for="treatment_done">{% trans "Treatment Done:" %}</label>
                                    {{ form.treatment_done|add_class:"form-control" }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4 form-group">
                                <label for="note">{% trans "Medical History:" %}</label>
                                    {{ form.note|add_class:"form-control" }}
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab3">
                        <div class="row">
                            <div class="col-sm-4 form-group">
                                <label for="pic">{% trans "Upload Files:" %}</label>
                                    {{form.pictures}}
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab4">
                        <div class="row">
                            <div class="btn-group" data-toggle="buttons">
                                {% for radio in form.dental_chart_type %}
                                <label for="{{ radio.id_for_label }}" class="dental-chart-type btn btn-primary{% if radio.value == radio.choice_value %} active{% endif %}" >
                                    {{ radio.tag }}
                                    {{ radio.choice_label }}
                                </label>
                                {% endfor %}
                            </div>
                        </div>
                        {{ form.dental_chart}}
                        <div class="col-sm-4">
                            {% include "core/dental_chart.html" with type=form.dental_chart_type allow_edit=True init_state=form.dental_chart.value|safe|default:"" %}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>       

        <div class="form-group">
            <button type="submit" class="btn btn-info">
                <span class="glyphicon glyphicon-ok"></span> {% trans "Save" %}
            </button>
            <a href="{% url 'view' person.id %}" class="btn btn-default">Cancel</a>
        </div>


    </form>

    <script type="text/javascript" src='{% static "js1/bootstrap-datepicker.min.js" %}'></script>
    <script type="text/javascript">
        $('.datepicker').datepicker({
            format: "yyyy-mm-dd",
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function(){
            $("form#form1").submit(function(e) {
                e.preventDefault();
                var lHref = $(this).attr('action');
                bootbox.confirm("Are you sure you want to delete a Pateint?", function(confirmed) {
                    if(confirmed) {
                        window.location.href = lHref;
                    }
                });
            });
          })
    </script>
  
{% endblock %}
