{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}
{% block content %}


  <script type="text/javascript">
$(document).ready(function(){
$("form#form1").submit(function(e) {
    e.preventDefault();
    var lHref = $(this).attr('action');
    bootbox.confirm("Are you sure you want to delete a Pateint?", function(confirmed) {
        if(confirmed) {
            window.location.href = lHref;
        }
    });
});
})
</script>

  <h2>
    All Pateints
    <a href="{% url 'add_person' %}" class="btn btn-info pull-right">
      <span class="glyphicon glyphicon-plus"></span> {% trans  "Add Pateints" %}
    </a>
  </h2>

  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Lastname</th>
        
        <th>Age</th>
        <th>Sex</th>
          <th>Mobile</th>
          <th style="width:6%"><i class="fa fa-money"></i> Paid</th>
          <th style="width:6%"><i class="fa fa-money" style='text-align:center;'></i> Left</th>
          <th>Medical History</th>
		  <th class="col-md-4" style="text-align: center;">picture</th>
          <th>Address</th>            
          <th>Cancel</th>
          <th>Delete</th>
          <th>View</th>

      </tr>
    </thead>
    <tbody>
	

	
      {% for person in persons %}
        <tr id="person-{{ person.id }}">
          <td>{{ person.name }}</td>
          <td>{{ person.last_name }}</td>
          
          <td>{{ person.age }}</td>
          <td>{{ person.sex }}</td>
          <td>{{ person.mobile}}</td>
            <td>{{ person.amount_paid }}</td>
          <td>{{ person.amount_left}}</td>
            <td>{{ person.note}}</td>
			   <td class="col-md-4">  {% if person.pictures %} 

            			{% for picture in person.pictures.all %}
                    <div class="col-md-2">
                        <div class="thumbnail">
                            
                                
                                    <a class="fancybox" rel="group" href="{{ picture.picture.url }}">
                                    <img src="{{ picture.picture.url }}" style="height:30px;width:100%" alt="" />
                                    </a>
                        </div>
                    </div>
                  {% endfor %}
      			{% endif %}
          </td>
          <td>{{ person.address }}</td>
          
          <td>
            <button data-person-id="{{ person.id }}" type="button" class="cancel-button btn btn-xs btn-link">
              <span  class="glyphicon glyphicon-minus"></span>
            </button>
          </td>


        <td><form id='form1'  name='delete'  action="{% url 'delete_person' person.id %}"
              method='POST'>


        {% csrf_token %}
		<button type='submit'  id='form1'  class='btn btn-xs btn-link icon'><i  class='glyphicon glyphicon-remove'></i></button>
	</form></td>
        <td><a  href="{% url 'view' person.id %}"><i  class="glyphicon glyphicon-list-alt"></i></a></td>

        </tr>
	  {% empty %}
        <tr>
          <td colspan="6" class="text-center">No result</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
    {% if persons.has_other_pages %}
  <ul class="pagination">
    {% if persons.has_previous %}
      <li><a href="?page={{ persons.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in persons.paginator.page_range %}
      {% if persons.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if persons.has_next %}
      <li><a href="?page={{ persons.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}
  <script src="{% static 'fancybox/source/jquery.fancybox.pack.js' %}" ></script>
   <script type="text/javascript">
       $(document).ready(function() {
            $(".fancybox")
                .attr('rel', 'group')
                .fancybox({
                    padding: 0,
                    closeBtn : false,
                    fitToView: false, // avoids scaling the image to fit in the viewport
                    nextSpeed : 0, 

                    prevSpeed : 0,
                    beforeShow: function () {
                        // set size to (fancybox) img
                        // $(".fancybox-image").css({
                        //     "width": 800,
                        //     "height": 600
                        // });
                        // set size for parent container
                        this.width = 700;
                        this.height = 500; 
                    },
                    helpers: {
                        overlay: {
                          locked: false
                        }
                    }
                });


        });
  </script>
  <script>
    var hidden_persons = JSON.parse(localStorage["hidden_persons"] || "[]");
    for (var i = 0; i < hidden_persons.length; i++) {
      $("#person-" + hidden_persons[i]).hide();
    }
    $(".cancel-button").click(function () {
      var user_id = $(this).data("person-id");
      hidden_persons.push(user_id);
      localStorage["hidden_persons"] = JSON.stringify(hidden_persons);
      $("#person-" + user_id).hide();
    });
  </script>

{% endblock %}
