{% extends 'base.html' %}
{% load widget_tweaks %}
{% load i18n %}

{% block content %}
    <h2 id="calendar-header">
      {% if today %}
        Today's Appointments
      {% else %}
        Appointments for {{ date|date:"F d"}}
      {% endif %}
        <button class="btn btn-info patients-datepicker" >
          <span class="glyphicon glyphicon-th"></span> {% trans "Check for other day" %}
        </button>
        <a href="{% url 'add_person' %}" class="btn btn-info">
          <span class="glyphicon glyphicon-plus"></span> {% trans  "Add Patient" %}
        </a>
        <button class="btn btn-info add-event">
          <span class="glyphicon glyphicon-edit"></span> {% trans "Add event" %}
        </button>
    </h2>
    <form id="patients-calendar-form" action="">
      <input id="patients-calendar-form-appointment" name="appointment" type="hidden">
    </form>

    <form id="add-event-form" class="form-horizontal hidden" method="POST">
      {% csrf_token %}
      <div class="form-group">
        <label class="col-sm-2 control-label" for="{{ event_form.date.id_for_label }}">Date</label>
        <div class="col-sm-4">
          <div class="input-group date" data-provide="datepicker" data-date-autoclose="true" data-date-format="yyyy-mm-dd">
            {{ event_form.date|add_class:"form-control" }}
            <div class="input-group-addon">
              <span class="glyphicon glyphicon-th"></span>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label" for="{{ event_form.text.id_for_label }}">Event text</label>
        <div class="col-sm-4">
          <textarea class="form-control" placeholder="Event text" id="id_text" name="text" rows="10"></textarea>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-default">Create</button>
        </div>
      </div>
    </form>

    {% for event in events %}
    <div class="row">
      <div class="col-sm-2">{{ event.date }}</div>
      <div class="col-sm-8">{{ event.text }}</div>
    </div>
    {% endfor %}

  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Lastname</th>
        <th>Martial Status</th>
        <th>Age</th>
        <th>Sex</th>
        <th>$ Paid</th>
        <th>$ Left</th>
        <th>View</th>
      </tr>
    </thead>
    <tbody>
      {% for person in persons %}
        <tr>
          <td>{{ person.name }}</td>
          <td>{{ person.last_name }}</td>
          <td>{{ person.martial_status }}</td>
          <td>{{ person.age }}</td>
          <td>{{ person.sex }}</td>
          <td>{{ person.amount_paid }}</td>
          <td>{{ person.amount_left}}</td>
          <td><a href="{% url 'edit' person.id %}"><i class="glyphicon glyphicon-list-alt"></i></a></td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="6" class="text-center">No result</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
 {% if persons.has_other_pages %}
  <ul class="pagination">
    {% if persons.has_previous %}
      <li><a href="?page={{ persons.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in persons.paginator.page_range %}
      {% if persons.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if persons.has_next %}
      <li><a href="?page={{ persons.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}
<script>
  $(".patients-datepicker")
    .datepicker({autoClose: true, todayBtn: true, todayHighlight: true})
    .on("changeDate", function(event) {
      $("#patients-calendar-form-appointment").val(event.format("yyyy-mm-dd"));
      $("#patients-calendar-form").submit();
    });
  $(".add-event")
  .click(function() {
    $("#add-event-form").toggle();

  })
</script>
{% endblock %}
