{% extends 'core/base_visitor.html' %}
{% block title %}Log In{% endblock %}
{% block login_active %}active{% endblock %}
{% load staticfiles %}
{% load i18n %}
{% load widget_tweaks %}
{% block body %}
<div class="container-fluid">

    <div class="row">
        <div class="col-sm-4 col-sm-offset-4 col-xs-12 col-xs-offset-0">
            <div class="panel panel-default">
                <div class="panel-body">
                    <img class="img-responsive" style="margin-left: auto; margin-right:" src="{% static "img/logo22.jpg" %}" alt="Logo" />

                    <h3 class="text-center">Password reseted</h3>

                    <p>You can <a href="{% url "login_user" %}">sign in now</a></p>
                </div>
                <div class="panel-footer">
                    <p id="footer"> Don't have an account? <a href="{% url 'register' %}">Click here</a> to register.</p>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}

