{% extends 'core/base_visitor.html' %}
{% block title %}Log In{% endblock %}
{% block login_active %}active{% endblock %}
{% load staticfiles %}
{% load i18n %}
{% load widget_tweaks %}
{% block body %}
<div class="container-fluid">

    <div class="row">
        <div class="col-sm-4 col-sm-offset-4 col-xs-12 col-xs-offset-0">
            <div class="panel panel-default">
                <div class="panel-body">
                    <img class="img-responsive" style="margin-left: auto; margin-right:" src="{% static "img/logo22.jpg" %}" alt="Logo" />

                    <h3 class="text-center">Password reset</h3>
                    {% if form.errors %}
                        {{ form.errors }}
                    {% endif %}
                    <form class="form-horizontal" role="form" action="" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label class="control-label col-sm-3" for="{{ form.email.id_for_label }}">
                                Password:
                            </label>
                            <div class="col-sm-8">
                                {% render_field form.new_password class="form-control" placeholder="Your new password" %}
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="col-sm-offset-3 col-sm-4">
                                <button type="submit" class="btn btn-info">Set new password</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}

