{% extends 'base.html' %}
{% load i18n %}
{% load widget_tweaks %}
{% load staticfiles %}

{% block content %}

    <h2>Patient Details </h2>

    {% csrf_token %}
    <div class="tabtable"> 
        <ul class="nav nav-tabs">
            {% if tab %}
              <li class="{% if tab == 'tab1' %}active{% endif %}"><a href="#tab1" data-toggle="tab">Personal Info</a></li>
              <li class="{% if tab == 'tab2' %}active{% endif %}"><a href="#tab2" data-toggle="tab">Medical Details</a></li>
              <li class="{% if tab == 'tab3' %}active{% endif %}"><a href="#tab3" data-toggle="tab">Files</a></li>
              <li class="{% if tab == 'tab4' %}active{% endif %}"><a href="#tab4" data-toggle="tab">Dental Chart</a></li>
            {% else %}
              <li class="active"><a href="#tab1" data-toggle="tab">Personal Info</a></li>
              <li class=""><a href="#tab2" data-toggle="tab">Medical Details</a></li>
              <li class=""><a href="#tab3" data-toggle="tab">Files</a></li>
              <li class=""><a href="#tab4" data-toggle="tab">Dental Chart</a></li>
            {% endif %}
        </ul>
        <div class="tab-content">
          {% if tab %}
            <div class="tab-pane {% if tab == 'tab1' %}active{% endif %}" id="tab1">
                <div class="row">
                    <div class="col-sm-2 form-group">
                        <label for="name" >{% trans "Name:" %}</label>
                        <input class="form-control" value='{{ person.name|default:"."  }}' readonly>

                    </div>
                    <div class="col-sm-2 form-group">
                        <label for="lname">{% trans "Lastname:" %}</label>
                        <input class="form-control" value='{{ person.last_name|default:"."  }}' readonly>
                    </div>
                    <div class="col-sm-2 form-group">
                        <label for="Sex">{% trans "Sex:" %}</label>
                        <input class="form-control"  value='{{ person.sex|default:"."  }}' readonly>
                    </div>
                    <div class="col-sm-2 form-group">
                        <label for="date">{% trans "Next Appoinment:" %}</label>
                        <input class="form-control" value='{{ person.date|default:"." | safe}}' readonly>
                    </div>
                </div>
                <div class="row">
                    <div  class="col-sm-2 form-group">
                        <label for="age">{% trans "Age:" %}</label>
                        <input class="form-control"  value='{{ person.age|default:"."  }}' readonly>
                    </div>
                    <div class="col-sm-2 form-group">
                        <label for="martial">{% trans "Martial Status:" %}</label>
                        <input class="form-control"  value='{{ person.martial_status|default:"."  }}' readonly>
                    </div>
                    <div class="col-sm-2 form-group">
                        <label for="amount paid">{% trans "money Paid:" %}</label>
                        <input class="form-control"  value='{{ person.amount_paid|default:"."  }}' readonly>
                    </div>
                    <div class="col-sm-2 form-group">
                        <label for="amount left">{% trans "money left:" %}</label>
                        <input class="form-control"  value='{{ person.amount_left|default:"."  }}' readonly>
                    </div>
                    
                </div>
                
                <div class="row">
                    <div class="col-sm-4 form-group">
                        <label for="mobile">{% trans "Mobile Number:" %}</label>
                        <input class="form-control"  value='{{ person.mobile|default:"."  }}'     readonly>
                    </div>
                    <div class="col-sm-4 form-group">
                        <label for="address">{% trans "Address:" %}</label>
                        <input class="form-control"  value='{{ person.address|default:"."  }}' readonly>
                    </div>
                    
                </div>
            </div>
            <div class="tab-pane {% if tab == 'tab2' %}active{% endif %}" id="tab2">
                <div class="row">
                    <div class="col-sm-4" style="padding: 0;">
                        <div class="col-sm-12 form-group">
                            <label for="chief_complain" >{% trans "Chief Complain:" %}</label>
                            <input class="form-control"  value='{{ person.chief_complain|default:"." }}' readonly>
                        </div>
                        <div class="col-sm-12 form-group">
                            <label for="treatment_plan" >{% trans "Treatment Plan:" %}</label>
                            <textarea rows="3" class="form-control"   readonly>{{ person.treatment_plan|default:"."  }}</textarea>
                        </div>
                         <div class="col-sm-12 form-group">
                            <label for="note">{% trans "Medical History:" %}</label>
                            <input class="form-control"  value='{{ person.note|default:"."  }}' readonly>
                        </div>
                    </div>
                    <div class="col-sm-4" style="padding: 0;">
                        <div class="col-sm-12 form-group">
                           <label for="diagcode">{% trans "Diagnostic Code:" %}</label>
                           <div style="height: 100px;overflow-y: scroll;background-color: #EEE;     padding: 8px;border-radius: 6px;-moz-border-radius: 6px;
                                    box-shadow:  -1px 1px #EEE,-2px 2px #EEE,
                                        -3px 3px #EEE, -4px 4px #EEE, -5px 5px #EEE;" size="4">
                                {% for diagcode in person.diagcodes.all %}
                                    <div>
                                        {{ diagcode }}
                                        <form id='form1'   name='delete'  action="{% url   'delete_person_diagcode' person.id diagcode.id %}" method='POST' style="display: inline;"> {% csrf_token %}
                                            <button type='submit'  id='form1'  class='btn btn-xs btn-link icon' title="Delete"><i  class='glyphicon glyphicon-remove'></i></button>
                                        </form>
                                    </div>
                                {% endfor %} 
                           </div>
                        </div>
                        <div class="col-sm-12 form-group">
                            <label for="treatment_done">{% trans "Treatment Done:" %}</label>
                            <textarea rows="3" class="form-control"  readonly>{{ person.treatment_done|default:"."  }} </textarea>
                        </div>
                    </div>                   
                </div>              
            </div>
            <div class="tab-pane {% if tab == 'tab3' %}active{% endif %}" id="tab3">

                <div class="row">
                    <div class="col-sm-4 form-group">
                        <label for="pic">{% trans "Files:" %}</label>
                        <div>
                            {% if  person.pictures.count == 0  %}
                            <input class="form-control"  value="No files for this patient" style="height: 200px;text-align:center;" readonly>

                            {% else %} 
                            <div class="well">
   
                                <div id="myCarousel" class="carousel slide">    
                              <!-- Carousel items -->
                              <div class="carousel-inner">
                                {% if pictures_tuple %}
                                {% for first, second in pictures_tuple %}

                                  {% if forloop.counter == 1 %} 
                                    <div class="item active">
                                      <div class="row-fluid">
                                        
                                          
                                              <div class="col-md-6">
                                                  <div class="thumbnail">
                                                      
                                                          
                                                              <a class="fancybox" rel="group" href="{{ first.picture.url }}">
                                                              <img src="{{ first.picture.url }}" style="height:100px;width:100%" alt="" />
                                                              </a>


                                                  </div>
                                                  <div style="margin-top: -10px;word-wrap: break-word;text-align: center;">
                                                      {{ first.filename }}
                                                  </div>
                                                  <div style="text-align: center;">
                                                    <form id='form2'  name='delete'  action="{% url 'delete_person_image' person.id first.id %}"
                                                        method='POST'>
                                                          {% csrf_token %}
                                                      <button type='submit'  id='form1'  class='btn btn-xs btn-link icon' title="Delete"><i  class='glyphicon glyphicon-remove'></i></button>
                                                    </form>
                                                  </div>
                                              </div>
                                              <div class="col-md-6">
                                                  <div class="thumbnail">
                                                      
                                                          
                                                              <a class="fancybox" rel="group" href="{{ second.picture.url }}">
                                                              <img src="{{ second.picture.url }}" style="height:100px;width:100%" alt="" />
                                                              </a>


                                                  </div>
                                                  <div style="margin-top: -10px;word-wrap: break-word;text-align: center;">
                                                      {{ second.filename }}
                                                  </div>
                                                  <div style="text-align: center;">
                                                    <form id='form2'  name='delete'  action="{% url 'delete_person_image' person.id second.id %}"
                                                        method='POST'>
                                                          {% csrf_token %}
                                                      <button type='submit'  id='form1'  class='btn btn-xs btn-link icon' title="Delete"><i  class='glyphicon glyphicon-remove'></i></button>
                                                    </form>
                                                  </div>
                                              </div>
                                      
                                      </div>
                                    </div>           
                                  {% else %} 
                                    <div class="item">
                                      <div class="row-fluid">
                                        
                                          
                                              <div class="col-md-6">
                                                  <div class="thumbnail">
                                                      
                                                          
                                                              <a class="fancybox" rel="group" href="{{ first.picture.url }}">
                                                              <img src="{{ first.picture.url }}" style="height:100px;width:100%" alt="" />
                                                              </a>


                                                  </div>
                                                  <div style="margin-top: -10px;word-wrap: break-word;text-align: center;">
                                                      {{ first.filename }}
                                                  </div>
                                                  <div style="text-align: center;">
                                                    <form id='form2'  name='delete'  action="{% url 'delete_person_image' person.id first.id %}"
                                                        method='POST'>
                                                          {% csrf_token %}
                                                      <button type='submit'  id='form1'  class='btn btn-xs btn-link icon' title="Delete"><i  class='glyphicon glyphicon-remove'></i></button>
                                                    </form>
                                                  </div>
                                              </div>
                                              <div class="col-md-6">
                                                  <div class="thumbnail">
                                                      
                                                          
                                                              <a class="fancybox" rel="group" href="{{ second.picture.url }}">
                                                              <img src="{{ second.picture.url }}" style="height:100px;width:100%" alt="" />
                                                              </a>


                                                  </div>
                                                  <div style="margin-top: -10px;word-wrap: break-word;text-align: center;">
                                                      {{ second.filename }}
                                                  </div>
                                                  <div style="text-align: center;">
                                                    <form id='form2'  name='delete'  action="{% url 'delete_person_image' person.id second.id %}"
                                                        method='POST'>
                                                          {% csrf_token %}
                                                      <button type='submit'  id='form1'  class='btn btn-xs btn-link icon' title="Delete"><i  class='glyphicon glyphicon-remove'></i></button>
                                                    </form>
                                                  </div>
                                              </div>
                                      
                                      </div>
                                    </div> 
                                  {% endif %}   
                                           
                                {% endfor %}
                                {% if last_picture %}
                                  <div class="item">
                                      <div class="row-fluid">
                                        
                                          
                                              <div class="col-md-6">
                                                  <div class="thumbnail">
                                                      
                                                          
                                                              <a class="fancybox" rel="group" href="{{ last_picture.picture.url }}">
                                                              <img src="{{ last_picture.picture.url }}" style="height:100px;width:100%" alt="" />
                                                              </a>


                                                  </div>
                                                  <div style="margin-top: -10px;word-wrap: break-word;text-align: center;">
                                                      {{ last_picture.filename }}
                                                  </div>
                                                  <div style="text-align: center;">
                                                    <form id='form2'  name='delete'  action="{% url 'delete_person_image' person.id last_picture.id %}"
                                                        method='POST'>
                                                          {% csrf_token %}
                                                      <button type='submit'  id='form1'  class='btn btn-xs btn-link icon' title="Delete"><i  class='glyphicon glyphicon-remove'></i></button>
                                                    </form>
                                                  </div>
                                              </div>
                                              
                                      
                                      </div>
                                    </div> 
                                {% endif %}

                                {% elif last_picture %}
                                    <div class="item active">
                                      <div class="row-fluid">
                                        
                                          
                                              <div class="col-md-6">
                                                  <div class="thumbnail">
                                                      
                                                          
                                                              <a class="fancybox" rel="group" href="{{ last_picture.picture.url }}">
                                                              <img src="{{ last_picture.picture.url }}" style="height:100px;width:100%" alt="" />
                                                              </a>


                                                  </div>
                                                  <div style="margin-top: -10px;word-wrap: break-word;text-align: center;">
                                                      {{ last_picture.filename }}
                                                  </div>
                                                  <div style="text-align: center;">
                                                    <form id='form2'  name='delete'  action="{% url 'delete_person_image' person.id last_picture.id %}"
                                                        method='POST'>
                                                          {% csrf_token %}
                                                      <button type='submit'  id='form1'  class='btn btn-xs btn-link icon' title="Delete"><i  class='glyphicon glyphicon-remove'></i></button>
                                                    </form>
                                                  </div>
                                              </div>
                                              
                                      
                                      </div>
                                    </div> 
                                {% endif %}
                                
                              </div><!--/carousel-inner-->
   
                                <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                                    <span class="icon-prev fa-stack fa-lg"></span>
                                </a>
                                <a class="right carousel-control" href="#myCarousel" data-slide="next">
                                    <span class="icon-next fa-stack fa-lg"></span>
                                </a>
                                </div><!--/myCarousel-->
   
                            </div><!--/well-->
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane {% if tab == 'tab4' %}active{% endif %}" id="tab4">
                <div class="row">
                    <div class="btn-group" data-toggle="buttons">
                        <label for="id_dental_chart_type_0" class="dental-chart-type btn btn-primary">
                            <input id="id_dental_chart_type_0" name="dental_chart_type" type="radio" value="Deciduous" required="">
                            Deciduous
                        </label>

                        <label for="id_dental_chart_type_1" class="dental-chart-type btn btn-primary active">
                            <input checked="checked" id="id_dental_chart_type_1" name="dental_chart_type" type="radio" value="Permanent" required="">
                            Permanent
                        </label>
                    </div>
                </div>
                {% include "core/dental_chart.html" with type=person.dental_chart_type allow_edit=False init_state=person.dental_chart|default:""|safe %}
            </div>
          {% else %}
            <div class="tab-pane active" id="tab1">
                <div class="row">
                    <div class="col-sm-2 form-group">
                        <label for="name" >{% trans "Name:" %}</label>
                        <input class="form-control" value='{{ person.name|default:"."  }}' readonly>

                    </div>
                    <div class="col-sm-2 form-group">
                        <label for="lname">{% trans "Lastname:" %}</label>
                        <input class="form-control" value='{{ person.last_name|default:"."  }}' readonly>
                    </div>
                    <div class="col-sm-2 form-group">
                        <label for="Sex">{% trans "Sex:" %}</label>
                        <input class="form-control"  value='{{ person.sex|default:"."  }}' readonly>
                    </div>
                    <div class="col-sm-2 form-group">
                        <label for="date">{% trans "Next Appoinment:" %}</label>
                        <input class="form-control" value='{{ person.date|default:"." | safe}}' readonly>
                    </div>
                </div>
                <div class="row">
                    <div  class="col-sm-2 form-group">
                        <label for="age">{% trans "Age:" %}</label>
                        <input class="form-control"  value='{{ person.age|default:"."  }}' readonly>
                    </div>
                    <div class="col-sm-2 form-group">
                        <label for="martial">{% trans "Martial Status:" %}</label>
                        <input class="form-control"  value='{{ person.martial_status|default:"."  }}' readonly>
                    </div>
                    <div class="col-sm-2 form-group">
                        <label for="amount paid">{% trans "money Paid:" %}</label>
                        <input class="form-control"  value='{{ person.amount_paid|default:"."  }}' readonly>
                    </div>
                    <div class="col-sm-2 form-group">
                        <label for="amount left">{% trans "money left:" %}</label>
                        <input class="form-control"  value='{{ person.amount_left|default:"."  }}' readonly>
                    </div>
                    
                </div>
                
                <div class="row">
                    <div class="col-sm-4 form-group">
                        <label for="mobile">{% trans "Mobile Number:" %}</label>
                        <input class="form-control"  value='{{ person.mobile|default:"."  }}'     readonly>
                    </div>
                    <div class="col-sm-4 form-group">
                        <label for="address">{% trans "Address:" %}</label>
                        <input class="form-control"  value='{{ person.address|default:"."  }}' readonly>
                    </div>
                    
                </div>
            </div>
            <div class="tab-pane" id="tab2">
                <div class="row">
                    <div class="col-sm-4" style="padding: 0;">
                        <div class="col-sm-12 form-group">
                            <label for="chief_complain" >{% trans "Chief Complain:" %}</label>
                            <input class="form-control"  value='{{ person.chief_complain|default:"." }}' readonly>
                        </div>
                        <div class="col-sm-12 form-group">
                            <label for="treatment_plan" >{% trans "Treatment Plan:" %}</label>
                            <textarea rows="3" class="form-control"   readonly>{{ person.treatment_plan|default:"."  }}</textarea>
                        </div>
                         <div class="col-sm-12 form-group">
                            <label for="note">{% trans "Medical History:" %}</label>
                            <input class="form-control"  value='{{ person.note|default:"."  }}' readonly>
                        </div>
                    </div>
                    <div class="col-sm-4" style="padding: 0;">
                        <div class="col-sm-12 form-group">
                           <label for="diagcode">{% trans "Diagnostic Code:" %}</label>
                           <div style="height: 100px;overflow-y: scroll;background-color: #EEE;     padding: 8px;border-radius: 6px;-moz-border-radius: 6px;
                                    box-shadow:  -1px 1px #EEE,-2px 2px #EEE,
                                        -3px 3px #EEE, -4px 4px #EEE, -5px 5px #EEE;" size="4">
                                {% for diagcode in person.diagcodes.all %}
                                    <div>
                                        {{ diagcode }}
                                        <form id='form1'   name='delete'  action="{% url   'delete_person_diagcode' person.id diagcode.id %}" method='POST' style="display: inline;"> {% csrf_token %}
                                            <button type='submit'  id='form1'  class='btn btn-xs btn-link icon' title="Delete"><i  class='glyphicon glyphicon-remove'></i></button>
                                        </form>
                                    </div>
                                {% endfor %} 
                           </div>
                        </div>
                        <div class="col-sm-12 form-group">
                            <label for="treatment_done">{% trans "Treatment Done:" %}</label>
                            <textarea rows="3" class="form-control"  readonly>{{ person.treatment_done|default:"."  }} </textarea>
                        </div>
                    </div>                   
                </div>              
            </div>
            <div class="tab-pane" id="tab3">

                <div class="row">
                    <div class="col-sm-4 form-group">
                        <label for="pic">{% trans "Files:" %}</label>
                        <div>
                            {% if  person.pictures.count == 0  %}
                            <input class="form-control"  value="No files for this patient" style="height: 200px;text-align:center;" readonly>

                            {% else %} 
                            <div class="well">
   
                                <div id="myCarousel" class="carousel slide">    
                              <!-- Carousel items -->
                              <div class="carousel-inner">
                                {% if pictures_tuple %}
                                {% for first, second in pictures_tuple %}

                                  {% if forloop.counter == 1 %} 
                                    <div class="item active">
                                      <div class="row-fluid">
                                        
                                          
                                              <div class="col-md-6">
                                                  <div class="thumbnail">
                                                      
                                                          
                                                              <a class="fancybox" rel="group" href="{{ first.picture.url }}">
                                                              <img src="{{ first.picture.url }}" style="height:100px;width:100%" alt="" />
                                                              </a>


                                                  </div>
                                                  <div style="margin-top: -10px;word-wrap: break-word;text-align: center;">
                                                      {{ first.filename }}
                                                  </div>
                                                  <div style="text-align: center;">
                                                    <form id='form2'  name='delete'  action="{% url 'delete_person_image' person.id first.id %}"
                                                        method='POST'>
                                                          {% csrf_token %}
                                                      <button type='submit'  id='form1'  class='btn btn-xs btn-link icon' title="Delete"><i  class='glyphicon glyphicon-remove'></i></button>
                                                    </form>
                                                  </div>
                                              </div>
                                              <div class="col-md-6">
                                                  <div class="thumbnail">
                                                      
                                                          
                                                              <a class="fancybox" rel="group" href="{{ second.picture.url }}">
                                                              <img src="{{ second.picture.url }}" style="height:100px;width:100%" alt="" />
                                                              </a>


                                                  </div>
                                                  <div style="margin-top: -10px;word-wrap: break-word;text-align: center;">
                                                      {{ second.filename }}
                                                  </div>
                                                  <div style="text-align: center;">
                                                    <form id='form2'  name='delete'  action="{% url 'delete_person_image' person.id second.id %}"
                                                        method='POST'>
                                                          {% csrf_token %}
                                                      <button type='submit'  id='form1'  class='btn btn-xs btn-link icon' title="Delete"><i  class='glyphicon glyphicon-remove'></i></button>
                                                    </form>
                                                  </div>
                                              </div>
                                      
                                      </div>
                                    </div>           
                                  {% else %} 
                                    <div class="item">
                                      <div class="row-fluid">
                                        
                                          
                                              <div class="col-md-6">
                                                  <div class="thumbnail">
                                                      
                                                          
                                                              <a class="fancybox" rel="group" href="{{ first.picture.url }}">
                                                              <img src="{{ first.picture.url }}" style="height:100px;width:100%" alt="" />
                                                              </a>


                                                  </div>
                                                  <div style="margin-top: -10px;word-wrap: break-word;text-align: center;">
                                                      {{ first.filename }}
                                                  </div>
                                                  <div style="text-align: center;">
                                                    <form id='form2'  name='delete'  action="{% url 'delete_person_image' person.id first.id %}"
                                                        method='POST'>
                                                          {% csrf_token %}
                                                      <button type='submit'  id='form1'  class='btn btn-xs btn-link icon' title="Delete"><i  class='glyphicon glyphicon-remove'></i></button>
                                                    </form>
                                                  </div>
                                              </div>
                                              <div class="col-md-6">
                                                  <div class="thumbnail">
                                                      
                                                          
                                                              <a class="fancybox" rel="group" href="{{ second.picture.url }}">
                                                              <img src="{{ second.picture.url }}" style="height:100px;width:100%" alt="" />
                                                              </a>


                                                  </div>
                                                  <div style="margin-top: -10px;word-wrap: break-word;text-align: center;">
                                                      {{ second.filename }}
                                                  </div>
                                                  <div style="text-align: center;">
                                                    <form id='form2'  name='delete'  action="{% url 'delete_person_image' person.id second.id %}"
                                                        method='POST'>
                                                          {% csrf_token %}
                                                      <button type='submit'  id='form1'  class='btn btn-xs btn-link icon' title="Delete"><i  class='glyphicon glyphicon-remove'></i></button>
                                                    </form>
                                                  </div>
                                              </div>
                                      
                                      </div>
                                    </div> 
                                  {% endif %}   
                                           
                                {% endfor %}
                                {% if last_picture %}
                                  <div class="item">
                                      <div class="row-fluid">
                                        
                                          
                                              <div class="col-md-6">
                                                  <div class="thumbnail">
                                                      
                                                          
                                                              <a class="fancybox" rel="group" href="{{ last_picture.picture.url }}">
                                                              <img src="{{ last_picture.picture.url }}" style="height:100px;width:100%" alt="" />
                                                              </a>


                                                  </div>
                                                  <div style="margin-top: -10px;word-wrap: break-word;text-align: center;">
                                                      {{ last_picture.filename }}
                                                  </div>
                                                  <div style="text-align: center;">
                                                    <form id='form2'  name='delete'  action="{% url 'delete_person_image' person.id last_picture.id %}"
                                                        method='POST'>
                                                          {% csrf_token %}
                                                      <button type='submit'  id='form1'  class='btn btn-xs btn-link icon' title="Delete"><i  class='glyphicon glyphicon-remove'></i></button>
                                                    </form>
                                                  </div>
                                              </div>
                                              
                                      
                                      </div>
                                    </div> 
                                {% endif %}

                                {% elif last_picture %}
                                    <div class="item active">
                                      <div class="row-fluid">
                                        
                                          
                                              <div class="col-md-6">
                                                  <div class="thumbnail">
                                                      
                                                          
                                                              <a class="fancybox" rel="group" href="{{ last_picture.picture.url }}">
                                                              <img src="{{ last_picture.picture.url }}" style="height:100px;width:100%" alt="" />
                                                              </a>


                                                  </div>
                                                  <div style="margin-top: -10px;word-wrap: break-word;text-align: center;">
                                                      {{ last_picture.filename }}
                                                  </div>
                                                  <div style="text-align: center;">
                                                    <form id='form2'  name='delete'  action="{% url 'delete_person_image' person.id last_picture.id %}"
                                                        method='POST'>
                                                          {% csrf_token %}
                                                      <button type='submit'  id='form1'  class='btn btn-xs btn-link icon' title="Delete"><i  class='glyphicon glyphicon-remove'></i></button>
                                                    </form>
                                                  </div>
                                              </div>
                                              
                                      
                                      </div>
                                    </div> 
                                {% endif %}
                                
                              </div><!--/carousel-inner-->
   
                                <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                                    <span class="icon-prev fa-stack fa-lg"></span>
                                </a>
                                <a class="right carousel-control" href="#myCarousel" data-slide="next">
                                    <span class="icon-next fa-stack fa-lg"></span>
                                </a>
                                </div><!--/myCarousel-->
   
                            </div><!--/well-->
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="tab4">
                <div class="row">
                    <div class="btn-group" data-toggle="buttons">
                        <label for="id_dental_chart_type_0" class="dental-chart-type btn btn-primary">
                            <input id="id_dental_chart_type_0" name="dental_chart_type" type="radio" value="Deciduous" required="">
                            Deciduous
                        </label>

                        <label for="id_dental_chart_type_1" class="dental-chart-type btn btn-primary active">
                            <input checked="checked" id="id_dental_chart_type_1" name="dental_chart_type" type="radio" value="Permanent" required="">
                            Permanent
                        </label>
                    </div>
                </div>
                {% include "core/dental_chart.html" with type=person.dental_chart_type allow_edit=False init_state=person.dental_chart|default:""|safe %}
            </div>
          {% endif %}
        </div>
    </div>    

    <div class="form-group">
	   
        <a href="{% url 'edit' person.id %}"  class="btn btn-info" id="edit">
            <i class="glyphicon glyphicon-pencil" ></i><span> {% trans "Edit" %}</span>
          
    	</a>
        <a id="delete" href="{% url 'delete_person' person.id %}" class="btn btn-danger">Delete</a>
        <a href="{% url 'home' %}" class="btn btn-default">Back</a>
    </div>




  
    <script src="{% static 'fancybox/source/jquery.fancybox.pack.js' %}" ></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function() {
            $(".fancybox")
                .attr('rel', 'group')
                .fancybox({
                    padding: 0,
                    closeBtn : false,
                    fitToView: false, // avoids scaling the image to fit in the viewport
                    nextSpeed : 0, 

                    prevSpeed : 0,
                    beforeShow: function () {
                        // set size to (fancybox) img
                        // $(".fancybox-image").css({
                        //     "width": 800,
                        //     "height": 600
                        // });
                        // set size for parent container
                        this.width = 700;
                        this.height = 500; 
                    },
                    helpers: {
                        overlay: {
                          locked: false
                        }
                    }
                });
        });

      $(document).ready(function(){
        $("form#form1").submit(function(e) {
            e.preventDefault();
            var lHref = $(this).attr('action');
            bootbox.confirm("Are you sure you want to delete the diag_code?", function(confirmed) {
                if(confirmed) {
                    window.location.href = lHref+'?tab=tab2';
                }
            });
        });
        $("form#form2").submit(function(e) {
            e.preventDefault();
            var lHref = $(this).attr('action');
            bootbox.confirm("Are you sure you want to delete the File?", function(confirmed) {
                if(confirmed) {
                    window.location.href = lHref;
                }
            });
        });
        $("a#delete").click(function(e) {
            e.preventDefault();
            var lHref = $(this).attr('href');
            bootbox.confirm("Are you sure you want to delete a Pateint?", function(confirmed) {
                if(confirmed) {
                    window.location.href = lHref;
                }
            });
        });

      });

      $(document).ready(function(){
          $("#edit").click(function(e) {
              e.preventDefault();
              window.document.location = $(this).attr('href') + '?tab='+ $('.tab-pane.active').attr('id');
          });
      });

      $(document).ready(function() {
        $('#myCarousel').carousel({
        interval: 10000
        })
      });
  </script>
{% endblock %}


 
